[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
redis = "*"

[dev-packages]
dashboard-lol = {editable = true, path = "."}

[requires]
python_version = "3.6"
